@charset "UTF-8";

.headline {
    padding-bottom: 40px;
    margin-bottom: -80px;
    position: relative;
}

.headline .img {
    width: 100%;
    height: 400px;
    border-radius: 50px 50px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.headline .copy {
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 30px 25px;
    background: url("../images/contents/headline_bg.png") 0 0 no-repeat;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -80px;
}

.headline .copy strong {
    color: #fff;
    font-size: 1.875rem;
    letter-spacing: -.3px;
    text-align: center;
    font-weight: 600;
}

.headline .copy strong + p {
    margin-top: 20px;
}

.headline .copy p {
    color: #fff;
    text-align: center;
    line-height: 1.7;
}

.headline.titonly {
    margin-bottom: -50px;
}

.headline .img.type-1 {
    background-image: url("../images/contents/headline_img1.png");
}

.headline .img.type-2 {
    background-image: url("../images/contents/headline_img2.png");
}

.headline .img.type-3 {
    background-image: url("../images/contents/headline_img3.png");
}

.headline .img.type-4 {
    background-image: url("../images/contents/headline_img4.png");
}

.headline .img.type-5 {
    background-image: url("../images/contents/headline_img5.png");
}

.headline .img.type-6 {
    background-image: url("../images/contents/headline_img6.png");
}

.headline .img.type-7 {
    background-image: url("../images/contents/headline_img7.png");
}

.headline .img.type-8 {
    background-image: url("../images/contents/headline_img8.png");
}

.headline .img.type-9 {
    background-image: url("../images/contents/headline_img9.png");
}

.headline .img.type-10 {
    background-image: url("../images/contents/headline_img10.png");
}

.headline .copy.bgcolor-1 {
    background-color: #00823E;
}

.headline .copy.bgcolor-2 {
    background-color: #007975;
}

.headline .copy.bgcolor-3 {
    background-color: #985f2c;
}

.headline .copy.bgcolor-5 {
    background-color: #985f2c;
}

.headline .copy.bgcolor-4 {
    background-color: #736f00;
}

.headline .copy.bgcolor-8 {
    background-color: #3b709f;
}

.headline .copy.bgcolor-9 {
    background-color: #417a00;
}

.headline .copy.bgcolor-10 {
    background-color: #aa5154;
}

/* 반려동물 > 동물등록제도소개 */
.microchip {
    padding: 25px;
    display: flex;
    align-items: center;
}

.microchip:before {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin-right: 20px;
    content: "";
    background: url("../images/contents/microchip.png") 0 0 no-repeat;
    background-position: 0 0;
    display: block;
}

.microchip > div {
    display: flex;
    flex-direction: column;
}

.regist-tool {
    display: flex;
}

.regist-tool li {
    padding: 20px 25px;
    background-color: #fff;
    border: 2px solid #E1EFE7;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
}

.regist-tool li + li {
    margin-left: 30px;
}

.regist-tool .icon:before {
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin-right: 20px;
    content: "";
    background: url("../images/contents/microchip.png") 0 0 no-repeat;
    background-size: 126px auto;
    display: block;
}

.regist-tool .flaticon-1:before {
    background-position: -42px 0;
}

.regist-tool .flaticon-2:before {
    background-position: -85px 0;
}

.chip-process {
    margin: -15px -15px -15px -10px !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chip-process li {
    width: calc(100% / 4 - 50px);
    min-width: 150px;
    margin: 15px 25px;
    padding: 20px 25px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chip-process.color-1 li {
    background-color: #F0F8F4;
}

.chip-process.color-2 li {
    background-color: #f0f8f8;
}

.chip-process.color-3 li {
    background-color: #f6f6f6;
}

.chip-process li:after {
    width: 28px;
    height: 28px;
    margin: -15px 0;
    content: "";
    background-color: #777;
    background-image: url("../images/common/swiper_nav.png");
    background-repeat: no-repeat;
    background-position: -19px 3px;
    background-size: 45px auto;
    border-radius: 50px;
    opacity: .7;
    display: block;
    position: absolute;
    right: -39px;
    top: 50%;
    bottom: 50%;
}

.chip-process li:last-child:after {
    display: none;
}

.chip-process.color-1 li:after {
    background-color: #00823E;
}

.chip-process.color-2 li:after {
    background-color: #00827f;
}

.chip-process.color-3 li:after {
    background-color: #777;
}

.chip-process li strong + span {
    margin-top: 5px;
}

.chip-process li span {
    font-size: .938rem;
}

/*새로 이미지 추가하면서 추가한 부분입니다*/
.resist-wrap {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 15px;
}

.resist-wrap .img {
    width: calc(100% / 3);
}

.resist-wrap .img1 {
    background: url('../images/contents/register1.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 30px 0px 0px 0px;
}

.resist-wrap .img2 {
    background: url('../images/contents/register2.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.resist-wrap .img3 {
    background: url('../images/contents/register3.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 0px 30px 0px 0px;
}

.resist-wrap .img4 {
    background: url('../images/contents/register4.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 0px 0px 0px 30px;
}

.resist-wrap .img5 {
    background: url('../images/contents/register5.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.resist-wrap .img6 {
    background: url('../images/contents/register6.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 0px 0px 30px 0px;
}

/*여기까지입니다.*/
.regist-type {
    margin: -15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.regist-type li {
    width: calc(100% / 3 - 30px);
    min-width: 165px;
    margin: 15px;
    padding: 35px 25px 25px 25px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.regist-type li strong {
    padding: 7px 20px 5px 20px;
    background-color: #00823E;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    top: -15px;
}

.regist-type li p {
    font-weight: 500;
}

.regist-type li p + span {
    margin-top: 5px;
}

.regist-type li span {
    font-size: .938rem;
}

.regist-type .icon:before {
    width: 70px;
    height: 70px;
    min-width: 60px;
    margin-bottom: 15px;
    content: "";
    background: url("../images/contents/microchip.png") 0 0 no-repeat;
    display: block;
}

.regist-type .flaticon-1:before {
    background-position: 0 -75px;
}

.regist-type .flaticon-2:before {
    background-position: -75px -75px;
}

.regist-type .flaticon-3:before {
    background-position: -150px -75px;
}

.regist-type .flaticon-4:before {
    background-position: 0 -150px;
}

.regist-type .flaticon-5:before {
    background-position: -75px -150px;
}

.regist-type .flaticon-6:before {
    background-position: -150px -150px;
}

/* 반려동물 > 등록동물검색 입력 폼 */
.animal-search {
    width: 950px;
    margin: 0 auto;
    border: 1px solid #D5D5D5;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.animal-search .visual {
    width: 30%;
    background-color: #F0F8F4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal-search .visual:before {
    width: 200px;
    height: 151px;
    content: "";
    background: url("../images/contents/animal_search.png") no-repeat 0 0;
    background-size: cover;
    display: block;
}

.animal-search form {
    width: 70%;
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.animal-search form fieldset {
    width: 460px;
}

.animal-search form .tit {
    margin-bottom: 25px;
    font-weight: normal;
    text-align: center;
    display: block;
}

.animal-search form .form-group {
    position: relative;
}

.animal-search form .form-group.id:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    display: block;
    position: absolute;
    top: 19px;
    left: 14px;
}

.animal-search form .form-group.pw:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    display: block;
    position: absolute;
    top: 19px;
    left: 14px;
}

.animal-search form .form-group.id:before {
    background-position: -356px -80px;
}

.animal-search form .form-group.pw:before {
    background-position: -381px -80px;
}

.animal-search form .id .form-control, .sub-login form .pw .form-control {
    padding: 16px 10px 16px 45px;
    border-radius: 10px;
    font-size: 1.25rem;
}

.animal-search form .form-control.invalid {
    border-color: #dd3654;
}

.animal-search form .form-group .wrong-ment {
    margin-top: 7px;
}

.animal-search form .btn-primary {
    margin-top: 30px;
}

/* 농장동물 > 동물복지축산인증제 소개 */
.certifi-process {
    margin: -10px -25px -15px -25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certifi-process li {
    width: calc(100% / 5 - 50px);
    min-width: 150px;
    margin: 15px 25px;
    padding: 35px 25px 25px 25px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.certifi-process li:nth-child(1) {
    background-color: #f6f6f6;
}

.certifi-process li:nth-child(2) {
    background-color: #f3f7f3;
}

.certifi-process li:nth-child(3) {
    background-color: #F0F8F4;
}

.certifi-process li:nth-child(4) {
    background-color: #EFF7F5;
}

.certifi-process li:nth-child(5) {
    background-color: #f0f8f8;
}

.certifi-process strong {
    padding: 7px 20px 5px 20px;
    background-color: #00823E;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    top: -15px;
}

.certifi-process li:nth-child(1) strong {
    background-color: #777777;
}

.certifi-process li:nth-child(2) strong {
    background-color: #517D59;
}

.certifi-process li:nth-child(3) strong {
    background-color: #00823E;
}

.certifi-process li:nth-child(4) strong {
    background-color: #00845F;
}

.certifi-process li:nth-child(5) strong {
    background-color: #00827f;
}

.certifi-process li:after {
    width: 28px;
    height: 28px;
    margin: -15px 0;
    content: "";
    background-color: #777;
    background-image: url("../images/common/swiper_nav.png");
    background-repeat: no-repeat;
    background-position: -19px 3px;
    background-size: 45px auto;
    border-radius: 50px;
    opacity: .7;
    display: block;
    position: absolute;
    right: -40px;
    top: 50%;
    bottom: 50%;
}

.certifi-process li:last-child:after {
    display: none;
}

.certifi-process li:nth-child(1):after {
    background-color: #777;
}

.certifi-process li:nth-child(2):after {
    background-color: #517D59;
}

.certifi-process li:nth-child(3):after {
    background-color: #00823E;
}

.certifi-process li:nth-child(4):after {
    background-color: #00845F;
}

.certifi-process .icon:before {
    width: 70px;
    height: 70px;
    min-width: 60px;
    margin-bottom: 15px;
    content: "";
    background: url("../images/contents/certification.png") 0 0 no-repeat;
    display: block;
}

.certifi-process .flaticon-1:before {
    background-position: 0 0;
}

.certifi-process .flaticon-2:before {
    background-position: -75px 0;
}

.certifi-process .flaticon-3:before {
    background-position: -150px 0;
}

.certifi-process .flaticon-4:before {
    background-position: -225px 0;
}

.certifi-process .flaticon-5:before {
    background-position: -300px 0;
}

/* 농장동물 > 농장동물 복지 개요 */
.five-freedom {
    margin: -15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.five-freedom li {
    width: calc(100% / 5 - 30px);
    min-width: 165px;
    margin: 15px;
    padding: 25px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.five-freedom .icon:before {
    width: 70px;
    height: 70px;
    min-width: 60px;
    margin-bottom: 15px;
    content: "";
    background: url("../images/contents/fivefree.png") 0 0 no-repeat;
    display: block;
}

.five-freedom .flaticon-1:before {
    background-position: 0 0;
}

.five-freedom .flaticon-2:before {
    background-position: -75px 0;
}

.five-freedom .flaticon-3:before {
    background-position: -150px 0;
}

.five-freedom .flaticon-4:before {
    background-position: -225px 0;
}

.five-freedom .flaticon-5:before {
    background-position: -300px 0;
}

/* 정책홍보 > 동물학대방지 */
.punishment {
    display: flex;
    justify-content: center;
}

.punishment li {
    min-width: 500px;
    padding: 25px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    text-align: center;
    display: flex;
    align-items: center;
}

.punishment li + li {
    margin-left: 30px;
}

.punishment li > div {
    text-align: left;
}

.punishment li strong {
    margin-bottom: 5px;
    font-size: 1.125rem;
    display: block;
}

.punishment .icon:before {
    width: 70px;
    height: 70px;
    min-width: 60px;
    margin-right: 20px;
    content: "";
    background: url("../images/contents/punishment.png") 0 0 no-repeat;
    display: block;
}

.punishment .flaticon-1:before {
    background-position: 0 0;
}

.punishment .flaticon-2:before {
    background-position: -75px 0;
}

/* 구조동물 > 입양대상 동물 - 상세 */
.animals-ment {
    margin-top: -15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.animals-ment:before {
    min-width: 200px;
    height: 154px;
    margin-right: 25px;
    content: "";
    background: url("../images/contents/dogncat.png") 0 0 no-repeat;
    background-size: 100% auto;
    display: inline-block;
}

.animals-ment .balloon {
    width: 100%;
    padding: 23px 25px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.7;
    position: relative;
}

.animals-ment .balloon strong {
    font-size: 1.25rem;
}

.animals-ment .balloon:before {
    content: "";
    margin-top: -15px;
    border-top: 15px solid transparent;
    border-right: 20px solid #F0F8F4;
    border-bottom: 15px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    top: 50%;
    left: -40px;
}

.animals-detail .thum-list {
    margin: -13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.animals-detail .thum-list > li {
    width: 300px;
    margin: 13px;
}

.animals-detail .thum-list.piece-4 > li {
    width: calc(100% / 4 - 26px);
    margin: 13px;
}

.animals-detail .thum-list.piece-5 > li {
    width: calc(100% / 5 - 26px);
    margin: 13px;
}

.animals-detail .thum-list > li a {
    height: 300px;
    background-color: #fff;
    border: 1px solid #D5D5D5;
    border-radius: 15px;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

/* .animals-detail .thum-list > li a img { width: 100%; height: 300px; object-fit: cover; } */
.animals-detail .thum-list > li a img {
    width: 100%;
    height: 300px;
}

/* 웹접근성 조치 21페이지 */
.animals-detail .thum-list > li a:focus {
    outline: 4px dashed black;
    outline-offset: 5px;
    transition: none;
}

.animals-detail .thum-list > li a:hover img {
    transform: scale(1.1);
    transition-duration: 250ms;
}

.animals-detail .thum-list + h4 {
    margin-top: 30px;
}

.animals-detail .thum-list .caption {
    margin: 15px 0 0 0;
    text-align: center;
    display: block;
}

.animals-detail .detail-table {
    margin-top: 40px;
}

/* MyPage > 회원정보수정 */
.pass-certifi .pass-img {
    margin-top: 21px;
    text-align: center;
}

.pass-certifi .info-ment {
    margin-top: 30px;
}

/* 정보제공 > 교육안내 - 상세 */
.education-view {
    margin: 0 0 30px 0;
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
}

.education-view .head {
    padding: 25px 15px;
    border-bottom: 1px solid #dedede;
}

.education-view .head .subject {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: -.3px;
    line-height: 1.35;
    text-align: center;
    display: block;
}

.education-view .head .info {
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

.education-view .head .info li {
    margin: 0;
    padding: 0;
    font-size: .938rem;
    display: inline-block;
}

.education-view .head .info li strong {
    margin-right: 5px;
    color: #767676;
    font-weight: normal;
}

.education-view .head .info li:after {
    width: 1px;
    height: 13px;
    margin: 0 9px 0 14px;
    content: "";
    background-color: #D9D9D9;
    display: inline-block;
    position: relative;
    top: 0;
}

.education-view .head .info li:last-child:after {
    display: none;
}

.education-view .content {
    min-height: 200px;
    padding: 30px 15px;
    line-height: 1.6;
}

.education-view .file {
    padding: 15px;
    border-top: 1px solid #dedede;
}

.education-view .file .tit {
    margin-bottom: .7rem;
    color: #767676;
}

.education-view .file ul {
    margin: 0;
}

.education-view .file ul li {
    padding-left: 20px;
    line-height: 1.35;
    text-align: left;
    position: relative;
}

.education-view .file ul li + li {
    margin: 5px 0 0 0;
}

.education-view .file ul li:before {
    width: 14px;
    height: 14px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-position: -149px -80px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
}

.education-view .file ul li a {
    color: #000;
}

.education-view .file ul li a:hover {
    color: #00813e;
}

.education-view .detail-table {
    margin: 0;
}

.education-view .detail-table + .file {
    border-top: none;
}

.education-view .detail-table:before {
    display: none;
}

/*!!신규 추가한 부분!! 정보제공- 길고양이 중성화 사업 조회 목록 + 사업소개 팝업 버튼 추가*/
.popup-wrap {
    background-color: #F2F7FA;
    width: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.popup-wrap .icon-info {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D3DDE3;
}

.popup-wrap .icon-info:after {
    position: relative;
    left: 12px;
    display: flex;
    content: "";
    width: 41px;
    height: 41px;
    background-image: url("../images/contents/farm_process.png");
    background-repeat: no-repeat;
    background-size: 220px auto;
    background-position: -45px 0px;
}

.popup-wrap span {
    font-size: 18px;
    margin-left: 24px;
}

.popup-wrap button {
    position: relative;
    margin-left: auto;
    right: 10px;
}

/* login */
.login .login-bg {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
}

.login.color-1 .login-bg {
    background-color: #00823E;
    background-image: url("../images/common/login_bg1.png");
}

.login.color-2 .login-bg {
    background-color: #096A9D;
    background-image: url("../images/common/login_bg2.png");
}

.login .login-bg > .container {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login .login-bg > .container:before {
    width: 179px;
    height: 232px;
    content: "";
    background: url("../images/common/login_bg3.png") no-repeat 0 0;
    background-size: 100% auto;
    position: absolute;
    top: 30px;
    right: 0;
}

.login .login-bg > .container:after {
    content: "";
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 110px;
    right: 125px;
    z-index: 30;
}

.login.color-1 .login-bg > .container:after {
    width: 225px;
    height: 177px;
    background-image: url("../images/main/pet_illust1.png");
}

.login.color-2 .login-bg > .container:after {
    width: 233px;
    height: 168px;
    background-image: url("../images/common/login_illust2.png")
}

.login .login-bg .logo {
    margin-bottom: 40px;
}

.login .login-bg .logo a {
    width: 243px;
    height: 34px;
    background: url("../images/common/logo_w.png") no-repeat 0 0;
    background-size: cover;
    display: block;
}

.login .login-bg .logo a span {
    display: none;
}

.login .login-bg .logo-1 {
    margin-bottom: 40px;
}

.login .login-bg .logo-1 a {
    width: 301px;
    height: 34px;
    background: url("../images/aec/logo2_w.png") no-repeat 0 0;
    background-size: cover;
    display: block;
}

.login .login-bg .logo-1 a span {
    display: none;
}

.login .login-bg .logo-2 {
    margin-bottom: 40px;
}

.login .login-bg .logo-2 a {
    width: 301px;
    height: 34px;
    background: url("../images/aec/logo2_w.png") no-repeat 0 0;
    background-size: cover;
    display: block;
}

.login .login-bg .logo-2 a span {
    display: none;
}

.login .login-bg .page-tit {
    font-family: "OneMobile";
    font-size: 2.125rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
}

.login > .container {
    height: calc(100vh - 250px);
    min-height: 250px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}

.login .contents {
    width: 100%;
    max-width: 1200px;
    padding: 70px 20px 0 20px;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.login .contents > .wrap {
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.login .contents .means {
    width: 50%;
    padding: 0 100px;
    box-sizing: border-box;
}

.login .contents .means + .means {
    border-left: 1px solid #E6E6E6;
}

.login .contents .means .tit {
    margin-bottom: 30px;
    font-family: "OneMobile";
    font-size: 1.875rem;
    color: #0F3C3C;
    font-weight: normal;
    text-align: center;
}

.login .contents .means .locinfo {
    width: 16px;
    height: 19px;
    margin-right: 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAeCAYAAADZ7LXbAAACTUlEQVR42q2WvUscQRjG1w8s/DwCFhqLiIKHCCkCFidsoWm0Pkgj5Jq7QpBYxMJyC+X8A5Jck9rCRkRCsBAOrvEsLBSNBPNBxEo0CXIRE02eeecR7tSZ/cgO/HbvZp73eXdeZmfWcWzNc9tBBiyDQ/AH/OX9kP0Z0YVuntsC5sFPcA1KYBFkwSTvi+y/pm5e4gImGAafwQWNenz0PdRdMG7YL8EEqIAy6A85+37GVcTHMgMlWAXNTpSm4nR85e6MPLcNfOWTREtQm6hMv7bqgQXwC/QZAhMgDz6AU7AFpkGjQd9Hv4Vqg3MxuT+gG3ykpgBecumqVfUeNBni8oxJqD85cAW6DGJV4yPw6Fb/GPgN5gxxXfTNqT8roGipsSrPM8PYW/DJElsUf1y+GEulhfWWsZzsAObxvPizttmIK6mgTYzjWfHnXpSJkGCGsdMWTUbP1HN/WIV3A0dYa5XgFaizaF+IPy7b4HWIBMr8AKQDlnNb/XgDdgImaQBPrIuhVr8n/riM8+mGnDib5z6m77gjW4PnHsvU4k1SoG/jTccsuAS9MSXopd9sdWcr+AbWfIIfgl2523Wr9Gu9PZBmDZ9bgpvAlHFT1JpJ+qRNgiXunIMRyzTA927JJurgO6C+RDpDJkjwvDkQHx9xkjtv2V9ccxqWGJcM+lQpntObvon0otmgPhW2vqMM3DKWTpd3k7rRqOtdzeg7j9+Be96FfY6n/vfFSjLJmd4ipO8pOGF/Mq4t4gFY5/p/x4NuXfpj3ovq5aNB138u8E6M9g+ykEeQZ0TusQAAAABJRU5ErkJggg==');
    background-size: 16px auto;
    display: inline-block;
    position: relative;
    top: -2px;
}

.login .contents .means .ol a:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}

.login .contents .means .form-group {
    position: relative;
}

.login .contents .means .form-group.id:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    display: block;
    position: absolute;
    top: 19px;
    left: 14px;
}

.login .contents .means .form-group.pw:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    display: block;
    position: absolute;
    top: 19px;
    left: 14px;
}

.login.color-1 .contents .means .form-group.id:before {
    background-position: -356px -80px;
}

.login.color-1 .contents .means .form-group.pw:before {
    background-position: -381px -80px;
}

.login.color-2 .contents .means .form-group.id:before {
    background-position: -356px -103px;
}

.login.color-2 .contents .means .form-group.pw:before {
    background-position: -381px -103px;
}

.login .contents .means .form-control {
    padding: 16px 10px;
    border-radius: 10px;
    font-size: 1.25rem;
}

.login .contents .means .id .form-control, .login .contents .means .pw .form-control {
    padding-left: 45px;
}

.login .contents .means .company {
    display: flex;
}

.login .contents .means .company .btn {
    margin-left: 10px;
}

.login .contents .means .form-control.invalid {
    border-color: #dd3654;
}

.login .contents .means .form-group .wrong-ment {
    margin-top: 7px;
}

.login .contents .means form .btn-primary {
    margin-top: 30px;
}

.login .contents .means .pass-img +.btn-primary {
    margin-top: 54px;
}

.login.color-2 .contents .means .btn-primary {
    background-color: #096A9D;
    border-color: #096A9D;
}

.login.color-2 .contents .means .btn-primary:hover {
    background-color: #07557e;
    border-color: #07557e;
}

.login .contents .means ol {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.login .contents .means ol li:after {
    width: 1px;
    height: 14px;
    margin: 0 14px;
    content: "";
    background-color: #D9D9D9;
    display: inline-block;
    position: relative;
    top: 1px;
}

.login .contents .means ol li:last-child:after {
    display: none;
}

.login .contents .means ol li a {
    color: #797676;
    font-size: .938rem;
}

.login .contents .means .pass-img {
    margin-top: 25px;
    text-align: center;
}

.login .contents .means .pass-img ~ .info-ment {
    margin-top: 30px;
}

.login .copyright {
    margin-top: auto;
    padding: 30px 0;
    border-top: 1px solid #EFEFEF;
    color: #797676;
    font-size: .938rem;
    text-align: center;
}

/*!!웹접근성 조치!! 푸터 포커스 조치*/
.login .copyright a:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}

.login.color-2 .custom-control input[type="checkbox"]:checked + label:after {
    border-color: #096A9D;
}

/* sign up : step 1 */
.step-bar {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.step-bar ul {
    padding: 0;
    counter-reset: step;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.step-bar ul li {
    width: 20%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.step-bar ul li:before {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px auto;
    content: counter(step);
    counter-increment: step;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 6;
}

.step-bar ul li:after {
    width: 100%;
    height: 1px;
    content: "";
    background-color: #D9D9D9;
    position: absolute;
    top: 20px;
    left: -50%;
}

.step-bar ul li:first-child:after {
    content: none;
}

.step-bar ul li.active {
    color: #00813e;
    font-weight: 500;
}

/*!! 웹접근성 수정 조치 !!.step-bar ul li.active:before { border-color: #00813e; }*/
.step-bar ul li.active:before {
    border: 4px dashed #000000;
}

.step-bar ul li.active + li:after {
    background-color: #00813e;
}

.member-type {
    display: flex;
    justify-content: center;
}

.member-type li {
    width: 50%;
    box-sizing: border-box;
}

.member-type li + li {
    margin-left: 100px;
}

.member-type li .box {
    width: 380px;
    height: 100%;
    padding: 40px 30px;
    border: 2px solid #00813e;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.member-type li .box:hover {
    box-shadow: 10px 10px 18px rgba(0,0,0,.07);
    text-decoration: none;
    transform: translateY(-10px);
    transition-duration: 250ms;
}

.member-type li .box strong {
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #00813e;
    display: block;
}

.member-type li .box .btn {
    margin-top: 30px;
}

.member-type .illust {
    width: 209px;
    height: 120px;
    margin-bottom: 30px;
    background: url("../images/contents/member_type.png") no-repeat 0 0;
    background-size: auto 120px;
}

.member-type .illust.img-1 {
    background-position: 0 0;
}

.member-type .illust.img-2 {
    background-position: -219px 0;
}

.member-type li:nth-child(2) .box {
    border-color: #096A9D;
}

.member-type li:nth-child(2) strong {
    color: #096A9D;
}

.color-2 .step-bar ul li.active:before {
    border-color: #096A9D;
}

.color-2 .step-bar ul li.active {
    color: #096A9D;
}

.color-2 .step-bar ul li.active + li:after {
    background-color: #096A9D;
}

/* sign up : step 2 */
.login .signup-contents {
    padding-bottom: 60px;
}

.login h4 {
    padding: 0 0 0 27px;
    font-size: 1.25rem;
    position: relative;
}

.login h4:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-size: 400px auto;
    background-position: -65px -64px;
    position: absolute;
    top: 2px;
    left: 0;
}

.login h5 {
    padding-left: 16px;
    font-size: 1.125rem;
    position: relative;
}

.login h5:before {
    width: 10px;
    height: 13px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-position: -111px -80px;
    position: absolute;
    top: 4px;
    left: 0;
}

.login h5 em {
    margin-left: 7px;
    color: #767676;
    font-size: .938rem;
    font-weight: 500;
    font-style: normal;
}

.terms-box {
    height: 240px;
    padding: 20px;
    margin: 10px 0 15px;
    background-color: #f7f7f7;
    border-radius: 20px;
    font-size: .938rem;
    line-height: 1.5;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

/*0422*/
.terms-box .tit {
    margin: 15px 0 5px;
    font-weight: 500;
    display: block;
}

.terms-box .tit:first-child {
    margin-top: 0;
}

.terms-box p + .list-type {
    margin-top: 5px;
}

.all-agree {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.color-2.login h4:before {
    background-image: url("../images/aec/aec_base_sprite.png");
}

/* sign up : step 3 */
.certifi-type {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #00813e;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.5;
}

.certifi-type .action-btn-group {
    margin-top: 30px;
}

.color-2 .certifi-type {
    border-color: #096A9D;
}

/* sign up : step 4 */
.signup-form .table {
    margin-top: 0;
    margin-bottom: 30px;
}

.img-signup-end {
    width: 120px;
    margin: 30px 0;
}

/* forgot id / pw */
.login .contents .forgot-pw {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.login .contents .forgot-pw .tab-pane {
    padding-bottom: 0;
}

.login .contents .forgot-pw .tab-pane > .wrap {
    display: flex;
}

.login .contents .forgot-pw .means {
    padding: 0 50px;
}

.login .contents .forgot-pw .certifi-type {
    height: 100%;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.login .contents .forgot-pw .certifi-type .action-btn-group {
    margin-top: auto;
    position: relative;
    bottom: 71px;
}

.login .contents .forgot-pw .certifi-type .action-btn-group .btn {
    width: 100%;
}

.login .contents .forgot-pw ul li:nth-child(2) .wrap .means:nth-child(1) .certifi-type .action-btn-group {
    bottom: auto;
}

.login .contents .forgot-pw .means .pass-img +.btn-primary {
    margin-top: 30px !important;
}

/* 개인정보 처리방침 */
.policy-index {
    margin-top: 30px;
}

.policy-index ul {
    margin-left: 0 !important;
    display: flex;
    flex-wrap: wrap;
}

.policy-index ul li {
    min-width: 50%;
    margin: 3px 0;
}

/* 동물사랑사진전 > 공모요강 */
.alc-topic {
    margin-bottom: 18px;
    padding: 20px;
    background-color: #26436E;
    border-radius: 15px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    display: block;
}

/* 동물사랑사진전 > 대국민투표 */
.vote-link {
    padding: 5rem 130px;
    background-color: #edf3f6;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.vote-link:before {
    width: 500px;
    height: 480px;
    content: "";
    background: url("../images/alc/vote_img.png") no-repeat 0 0;
    background-size: cover;
    display: block;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.vote-link .fix-text {
    margin-bottom: 40px;
    font-family: "GmarketSans";
    color: #174d6a;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.vote-link .fix-text .turn {
    margin-bottom: 15px;
    font-size: 3rem;
}

.vote-link .fix-text .title {
    font-size: 4.625rem;
    line-height: 1;
}

.vote-link .fix-text .title .color {
    font-size: 5.75rem;
    color: #257CAB;
    display: block;
}

.vote-link .fix-text .date {
    margin-top: 30px;
    font-size: 2rem;
    line-height: 1.35;
}

/* 정보제공 > 지도서비스 */
.map-service {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-service .header {
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 0 7px 10px rgba(0,0,0,.10);
    box-shadow: 0 7px 10px rgba(0,0,0,.10);
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
}

.map-service .header .logo {
    margin: 0 auto;
}

.map-service .header .logo a {
    width: 200px;
    height: 27px;
}

.map-service .header .btn-open-search {
    margin-right: auto;
    position: absolute;
}

.map-service .header .btn-open-search:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-size: 250px auto;
    display: inline-block;
}

.map-service .header .btn-open-search:before {
    background-position: 0 0;
}

.map-service .map-area {
    width: 100%;
    height: 100vh;
    position: absolute;
}

/* .map-service .side-panel { width: 350px; height: fit-content; padding: 20px; background-color: #fff; border-radius: 15px; box-sizing: border-box; -webkit-box-shadow: 4px 12px 20px rgba(0,0,0,.20); box-shadow: 4px 12px 20px rgba(0,0,0,.20); position: absolute; top: 20px; bottom: 20px; z-index: 110; transform: translateX(-350px); transition-duration: 250ms; } */
.map-service .side-panel {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    -webkit-box-shadow: 4px 12px 20px rgba(0,0,0,.20);
    box-shadow: 4px 12px 20px rgba(0,0,0,.20);
    position: absolute;
    top: 20px;
    bottom: 20px;
    z-index: 110;
    transform: translateX(-350px);
    transition-duration: 250ms;
}

.map-service .side-panel.show {
    transform: translateX(20px);
}

.map-service .side-panel .btn-close {
    width: 46px;
    height: 46px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.map-service .side-panel .btn-close span {
    display: none;
}

.map-service .side-panel .btn-close:before, .map-service .side-panel .btn-close:after {
    width: 24px;
    height: 1px;
    content: "";
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 24px;
    right: 13px;
}

.map-service .side-panel .btn-close:before {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}

.map-service .side-panel .btn-close:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

.map-service .side-panel .btn-fold {
    width: 20px;
    height: 50px;
    margin: 0;
    background-color: #fff;
    border-radius: 0 7px 7px 0;
    -webkit-box-shadow: 7px 5px 10px rgba(0,0,0,.1);
    box-shadow: 7px 5px 10px rgba(0,0,0,.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 25px);
    right: -20px;
    z-index: 500;
}

.map-service .side-panel .btn-fold:before {
    width: 7px;
    height: 13px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-position: -251px -89px;
    opacity: .6;
    display: block;
    position: relative;
    left: -2px;
    transform: rotate( 0deg );
}

.map-service .side-panel .btn-fold.active:before {
    transform: rotate( -180deg );
}

.map-service .side-panel .head {
    margin: -20px -20px 0 -20px;
    padding: 18px 20px;
    background-color: #fff;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-service .side-panel .head .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.map-service .side-panel .head .logo a {
    width: 280px;
    height: 36px;
    background: url("../images/common/logo_map.png") no-repeat 0 0;
    background-size: cover;
    display: block;
}

.map-service .side-panel .head .logo a span {
    display: none;
}

.map-service .side-panel .search-form {
    margin: 0 -20px 20px -20px;
    padding: 20px;
    background-color: #F0F8F4;
}

.map-service .side-panel .search-form .btn {
    padding: 8px 20px;
    font-size: .938rem;
}

.map-service .side-panel .search-form .form-control {
    padding: 8px 10px;
    font-size: .938rem;
}

.map-service .side-panel .search-form .btn-group {
    margin-bottom: 7px;
}

.map-service .side-panel .search-form .btn-group, .map-service .side-panel .search-form .btn-group label, .map-service .side-panel .search-form .center {
    width: 100%;
}

.map-service .side-panel .search-form .form-group {
    margin-bottom: 15px;
    display: flex;
}

.map-service .side-panel .search-form .form-group .form-control + .form-control {
    margin-left: 7px;
}

.map-service .side-panel .search-form .btn-group .icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-size: 298px auto;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -2px;
}

.map-service .side-panel .search-form .btn-group .icon-hospital {
    background-position: 0 -133px;
}

.map-service .side-panel .search-form .btn-group .icon-center {
    background-position: -42px -133px;
}

.map-service .side-panel .search-form .btn-group .btn-check:checked + .btn .icon-hospital {
    background-position: -21px -133px;
}

.map-service .side-panel .search-form .btn-group .btn-check:checked + .btn .icon-center {
    background-position: -63px -133px;
}

.map-service .side-panel .search-form .action-btn-group .center {
    width: 100%;
}

.map-service .side-panel .body {
    box-sizing: border-box;
}

.map-service .side-panel .table-utility {
    margin-bottom: 10px;
    font-size: .938rem;
}

.map-service .side-panel .result-list {
    margin-bottom: 15px;
}

.map-service .side-panel .result-list ul {
    border-top: 1px solid #dedede;
}

.map-service .side-panel .result-list ul > li {
    border-bottom: 1px solid #dedede;
}

.map-service .side-panel .result-list ul > li a {
    padding: 13px 13px 8px 13px;
    color: #000;
    display: block;
}

.map-service .side-panel .result-list ul > li a:hover {
    background-color: #FBFBFB;
    text-decoration: none;
}

.map-service .side-panel .result-list ul > li a:hover .subject strong {
    text-decoration: underline;
}

.map-service .side-panel .result-list ul > li a > ol .subject strong {
    min-height: 20px;
    max-height: 44px;
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 1.3;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.map-service .side-panel .result-list ul > li a > ol .subject span {
    margin-left: 8px;
    font-size: .875rem;
    color: #797676;
}

.map-service .side-panel .result-list ul > li a > ol .info {
    margin-top: 7px;
    font-size: .875rem;
}

.map-service .side-panel .result-list ul > li a > ol .info .info-item {
    display: flex;
}

.map-service .side-panel .result-list ul > li a > ol .info .info-item .label {
    min-width: 60px;
    margin-right: 10px;
    color: #797676;
}

.map-service .side-panel .result-list ul > li a > ol .info .info-item .value {
    height: 23px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.map-service .side-panel .pagination ul li a {
    min-width: 26px;
    height: 30px;
    font-size: .875rem;
}

.map-service .side-panel .result-list .none {
    width: 100%;
    padding: 25vh 0;
    color: #767676;
    font-size: .938rem;
    text-align: center;
}

.map-service .side-panel .result-list .locinfo {
    width: 16px;
    height: 19px;
    margin-right: 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAeCAYAAADZ7LXbAAACTUlEQVR42q2WvUscQRjG1w8s/DwCFhqLiIKHCCkCFidsoWm0Pkgj5Jq7QpBYxMJyC+X8A5Jck9rCRkRCsBAOrvEsLBSNBPNBxEo0CXIRE02eeecR7tSZ/cgO/HbvZp73eXdeZmfWcWzNc9tBBiyDQ/AH/OX9kP0Z0YVuntsC5sFPcA1KYBFkwSTvi+y/pm5e4gImGAafwQWNenz0PdRdMG7YL8EEqIAy6A85+37GVcTHMgMlWAXNTpSm4nR85e6MPLcNfOWTREtQm6hMv7bqgQXwC/QZAhMgDz6AU7AFpkGjQd9Hv4Vqg3MxuT+gG3ykpgBecumqVfUeNBni8oxJqD85cAW6DGJV4yPw6Fb/GPgN5gxxXfTNqT8roGipsSrPM8PYW/DJElsUf1y+GEulhfWWsZzsAObxvPizttmIK6mgTYzjWfHnXpSJkGCGsdMWTUbP1HN/WIV3A0dYa5XgFaizaF+IPy7b4HWIBMr8AKQDlnNb/XgDdgImaQBPrIuhVr8n/riM8+mGnDib5z6m77gjW4PnHsvU4k1SoG/jTccsuAS9MSXopd9sdWcr+AbWfIIfgl2523Wr9Gu9PZBmDZ9bgpvAlHFT1JpJ+qRNgiXunIMRyzTA927JJurgO6C+RDpDJkjwvDkQHx9xkjtv2V9ccxqWGJcM+lQpntObvon0otmgPhW2vqMM3DKWTpd3k7rRqOtdzeg7j9+Be96FfY6n/vfFSjLJmd4ipO8pOGF/Mq4t4gFY5/p/x4NuXfpj3ovq5aNB138u8E6M9g+ykEeQZ0TusQAAAABJRU5ErkJggg==');
    background-size: 16px auto;
    display: inline-block;
    position: relative;
    top: -2px;
}

.map-service .side-panel .result-list .locinfo + strong {
    display: inline-block !important;
}

.map-service .marker .balloon {
    width: 250px;
    padding: 15px 17px 15px 17px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    position: relative;
    z-index: 101;
}

.map-service .marker .balloon:before {
    margin-left: -14px;
    content: "";
    border-top: 18px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -18px;
}

.map-service .marker .balloon ol .subject strong {
    min-height: 20px;
    max-height: 44px;
    font-size: 1.063rem;
    font-weight: 500;
    line-height: 1.3;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.map-service .marker .balloon ol .subject span {
    margin-left: 8px;
    font-size: .875rem;
    color: #797676;
}

.map-service .marker .balloon ol .info {
    margin-top: 7px;
    font-size: .875rem;
}

.map-service .marker .balloon ol .info .info-item {
    display: flex;
}

.map-service .marker .balloon ol .info .info-item .label {
    min-width: 60px;
    margin-right: 10px;
    color: #797676;
}

.map-service .marker .balloon ol .info .info-item .value {
    height: 23px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 사이트맵 */
.sitemap > ul {
    margin: -13px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.sitemap > ul > li {
    width: calc(100% / 4 - 26px);
    margin: 13px;
}

.sitemap > ul > li > strong {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #F0F8F4;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.125rem;
    display: block;
}

.sitemap > ul > li > ul {
    margin: 5px 0 10px 15px;
}

.sitemap > ul > li > ul > li {
    position: relative;
}

.sitemap > ul > li > ul > li + li {
    margin-top: 6px;
}

.sitemap > ul > li > ul > li:before {
    width: 4px;
    height: 4px;
    content: "";
    background-color: #00827F;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 9px;
    left: -9px;
}

.sitemap > ul > li > ul > li a {
    color: #000;
}

/* 구조동물 > 민간동물보호센터 로그인 폼 */
.sub-login {
    width: 950px;
    margin: 0 auto;
    border: 1px solid #D5D5D5;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.sub-login .visual {
    width: 50%;
    background-color: #F0F8F4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-login .visual:before {
    width: 400px;
    height: 227px;
    content: "";
    background: url("../images/contents/sub_login.png") no-repeat 0 0;
    background-size: cover;
    display: block;
}

.sub-login form {
    width: 50%;
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.sub-login form fieldset {
    width: 360px;
}

.sub-login form .tit {
    margin-bottom: 25px;
    font-weight: normal;
    text-align: center;
    display: block;
}

.sub-login form label {
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

.sub-login form .form-group {
    position: relative;
}

.sub-login form .form-group.id:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    display: block;
    position: absolute;
    top: 19px;
    left: 14px;
}

.sub-login form .form-group.pw:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    display: block;
    position: absolute;
    top: 19px;
    left: 14px;
}

.sub-login form .form-group.id:before {
    background-position: -356px -80px;
}

.sub-login form .form-group.pw:before {
    background-position: -381px -80px;
}

.sub-login form .id .form-control, .sub-login form .pw .form-control {
    padding: 16px 10px 16px 45px;
    border-radius: 10px;
    font-size: 1.25rem;
}

.sub-login form .form-control.invalid {
    border-color: #dd3654;
}

.sub-login form .form-group .wrong-ment {
    margin-top: 7px;
}

.sub-login form .btn-primary {
    margin-top: 30px;
}

.login .contents .means .pass-img +.btn-primary {
    margin-top: 54px;
}

.login.color-2 .contents .means .btn-primary {
    background-color: #096A9D;
    border-color: #096A9D;
}

.login.color-2 .contents .means .btn-primary:hover {
    background-color: #07557e;
    border-color: #07557e;
}

/* 통합검색 */
.total-search-area {
    margin-right: auto;
    display: flex;
}

.total-search-area form .form-wrap {
    height: 90px;
    display: flex;
    align-items: center;
}

.total-search-area form .form-wrap > * + * {
    margin-left: 10px;
}

.total-search-area form .input-wrap {
    border: 3px solid #00813e;
    border-radius: .5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.total-search-area form .input-wrap .form-control {
    border-color: transparent;
}

.total-search-area form .input-wrap .btn-submit {
    width: 55px;
    height: 55px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-search-area form .input-wrap .btn-submit:before {
    width: 24px;
    height: 24px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-size: 300px auto;
    background-position: -209px 0;
    display: block;
}

.total-search-area form .search-condition {
    box-sizing: border-box;
    clip-path: inset(50%);
    position: absolute;
    z-index: 61;
}

.total-search-area form .search-condition.show {
    clip-path: none;
}

.total-search-area form .search-condition .line-break {
    display: flex;
    align-items: center;
}

.result-menu {
    width: 100%;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.result-menu .container {
    height: auto;
}

.result-menu ul {
    display: flex;
    flex-wrap: wrap;
}

.result-menu ul li a {
    padding: 25px;
    color: #000;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.result-menu ul li a:hover {
    text-decoration: none;
}

.result-menu ul li a .count {
    margin-left: 7px;
    color: #00813e;
    font-weight: 500;
}

.result-menu ul li a:before {
    width: 100%;
    height: 3px;
    content: "";
    background-color: #00813e;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale3d(0,1,1);
    transform-origin: center center;
    transition: transform .3s;
}

.result-menu ul li.active a:before, .result-menu ul li a:hover:before {
    transform: scale3d(1,1,1);
}

.result-frame {
    display: flex;
}

.result-frame .left-area {
    width: 80%;
    margin-right: 45px;
}

.result-frame .left-area h4 {
    margin-bottom: 35px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.result-frame .left-area h4:before {
    display: none;
}

.result-frame .left-area h4 span {
    margin-left: 7px;
    font-size: 1.125rem;
    color: #00813e;
    font-weight: 500;
}

.result-frame .left-area .result-list {
    margin-bottom: 30px;
}

.result-frame .left-area .result-list li + li {
    margin-top: 35px;
}

.result-frame .left-area .result-list li a {
    color: #000;
}

.result-frame .left-area .result-list li a strong {
    height: 22px;
    margin-bottom: 15px;
    color: #000;
    font-size: 1.125rem;
    line-height: 1.3;
    display: block;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.result-frame .left-area .result-list li a p {
    min-height: 22px;
    max-height: 70px;
    line-height: 1.5;
    display: block;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.result-frame .left-area .none {
    padding: 8rem 0;
    text-align: center;
    color: #767676;
}

.result-frame .left-area .none strong {
    margin-bottom: 15px;
    font-size: 1.25rem;
    display: block;
}

.result-frame .right-area {
    width: 20%;
}

.result-frame .right-area .tit {
    margin-bottom: 15px;
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
}

.result-frame .right-area * + .tit {
    margin-top: 25px;
}

.result-frame .right-area .monthly {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.result-frame .right-area .monthly .btn {
    width: 100%;
}

.keyword-lank {
    counter-reset: step;
}

.keyword-lank li + li {
    margin-top: 10px;
}

.keyword-lank li {
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.keyword-lank li:before {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    content: counter(step);
    counter-increment: step;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.keyword-lank li a {
    width: 100%;
    height: 22px;
    color: #000;
    line-height: 1.45;
    text-align: left;
    word-break: break-all;
    display: block;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: inline-block;
}

.keyword-lank li .new {
    margin-left: 5px;
    font-size: .625rem;
    color: #dd3654;
}

.found-keyword li {
    line-height: 1.35;
    text-align: left;
    position: relative;
}

.found-keyword li + li {
    margin-top: 10px;
}

.found-keyword li a {
    color: #000;
    display: inline-block;
}

.found-keyword li a:hover {
    color: #00813e;
}

.found-keyword li .delete {
    width: 16px;
    height: 16px;
    margin: 0 0 0 7px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.found-keyword li .delete:before {
    width: 16px;
    height: 16px;
    content: "";
    background: url("../images/common/base_sprite.png") no-repeat 0 0;
    background-size: 420px auto;
    background-position: -279px -67px;
    display: inline-block;
    position: relative;
}

.found-keyword li .delete span {
    width: 1px;
    height: 1px;
    line-height: 1px;
    text-indent: -9999em;
    overflow: hidden;
    position: absolute;
    top: -9999em;
    left: -9999em;
}

/* 정보제공 > 영업자 정보 */
.bus-category {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bus-category .h5 {
    margin-bottom: 15px;
}

/* 농장동물 > 인증절차 */
.farm-process {
    margin: -15px -15px -15px -10px !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.farm-process li {
    width: calc(100% / 5 - 50px);
    min-width: 150px;
    margin: 15px 25px;
    padding: 20px 25px;
    background-color: #f0f8f8;
    border-radius: 15px;
    box-sizing: border-box;
    line-height: 1.3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.farm-process li:after {
    width: 28px;
    height: 28px;
    margin: -15px 0;
    content: "";
    background-color: #777;
    background-image: url("../images/common/swiper_nav.png");
    background-color: #00827f;
    background-repeat: no-repeat;
    background-position: -19px 3px;
    background-size: 45px auto;
    border-radius: 50px;
    opacity: .7;
    display: block;
    position: absolute;
    right: -39px;
    top: 50%;
    bottom: 50%;
}

.farm-process li:last-child:after {
    display: none;
}

.farm-process li strong + span {
    margin-top: 5px;
}

.farm-process li span {
    font-size: .938rem;
}

.farm-process .icon:before {
    width: 70px;
    height: 70px;
    min-width: 60px;
    margin-bottom: 15px;
    content: "";
    background: url("../images/contents/farm_process.png") 0 0 no-repeat;
    display: block;
}

.farm-process .flaticon-1:before {
    background-position: 0 0;
}

.farm-process .flaticon-2:before {
    background-position: -75px 0;
}

.farm-process .flaticon-3:before {
    background-position: -150px 0;
}

.farm-process .flaticon-4:before {
    background-position: -225px 0;
}

.farm-process .flaticon-5:before {
    background-position: -300px 0;
}

/* 농장동물 > 인증표시 */
.farm-sign {
    margin-bottom: 30px;
    display: flex;
}

.farm-sign .img {
    margin-right: 30px;
}

.farm-mark {
    margin: 25px 0;
    text-align: center;
}

/* 농장동물 > 인증신청서 작성현황 */
.farm-guide {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #00813e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 0px;
    border-radius: 2em;
}

.farm-situation table {
    width: 72%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.farm-situation td {
    padding: 20px;
    border: 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.farm-situation th {
    border: 1px solid;
    border-right: none;
    background-color: #00813e;
    font-size: 1rem;
    font-weight: normal;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
