@charset "utf-8";

@media screen and (max-width:1200px) {
	.login .contents .means { padding: 0 70px; }
    .login.color-1 .login-bg > .container:after { right: 40px; }
    .login.color-2 .login-bg > .container:after { right: 40px; }
	.punishment li { width: 50%; min-width: auto; }
	.vote-link { padding: 5rem 60px; }
	.vote-link:before { width: 450px; height: 432px; right: 30px; }
	.total-search-area { width: 100%; justify-content: center; }
    .bus-category .btn-group { width: 100%; flex-wrap: wrap; }
    .bus-category .btn-group .btn { width: calc(100% / 6); margin: 0 0 -1px -1px; border-radius: 0; }
    .animals-detail .thum-list.piece-5 > li { width: calc(100% / 3 - 20px); margin: 10px; }
    .header .icon-menu .btn-sitemap:before { background-position: -22px 0; }
    /*동물등록제도소개 - 추가로 이미지 넣은 부분 반응형으로 추가 작업한 부분입니다.*/
    .resist-wrap .img{ width:calc(100% / 2); }
    .resist-wrap .img1{ background:url('../images/contents/register1.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 30px 0px 0px 0px; }
    .resist-wrap .img2{ background:url('../images/contents/register2.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px 30px 0px 0px; }
    .resist-wrap .img3{ background:url('../images/contents/register3.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px; }
    .resist-wrap .img4{ background:url('../images/contents/register4.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px; }
    .resist-wrap .img5{ background:url('../images/contents/register5.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px 0px 0px 30px;}
    .resist-wrap .img6{ background:url('../images/contents/register6.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px 0px 30px 0px;}
}

@media screen and (max-width:1000px) {
	.login .contents { padding: 45px 0 0 0; position: absolute;}
    .login .contents > .wrap { align-items: center; flex-direction: column; }
    .login .contents .means { width: 100%; padding: 35px 50px; }
    .login .contents .means:first-child { padding-top: 0; }
    .login .contents .means + .means { border-top: 1px solid #E6E6E6; border-left: 0; }
    .login .contents .means .pass-img +.btn-primary { margin-top: 30px; }
    .login .copyright { font-size: .875rem; }
    .member-type li + li { margin-left: 60px; }
    .member-type li .box { width: 300px; }
    .login .contents .forgot-pw { padding: 0 50px; }
    .login .contents .forgot-pw .tab-pane > .wrap { flex-direction: column; }
    .login .contents .forgot-pw .means { padding: 35px 0; }
    .login .contents .forgot-pw .certifi-type .action-btn-group { margin-top: 30px; bottom: auto; }

	.headline .img { height: 300px; }
	.headline .copy { width: calc(100% - 60px); border-radius: 30px; }
	.headline .copy strong { font-size: 1.5rem; line-height: 1.3; }
	.headline .copy p { line-height: 1.5; }
	.punishment { flex-direction: column; }
	.punishment li { width: 100%; padding: 20px; }
	.punishment li + li { margin-top: 20px; margin-left: 0; }
	.punishment .icon:before { width: 60px; height: 60px; margin-right: 15px; background-size: auto 60px; }
	.punishment .flaticon-1:before { background-position: 0 0; }
	.punishment .flaticon-2:before { background-position: -64px 0; }
	.certifi-process { margin: -10px 0 -15px 0; }
	.certifi-process li { min-width: 200px; margin-right: 50px; margin-left: 0; padding: 35px 20px 20px 20px; }
	.certifi-process li:after { right: -39px; }
	.certifi-process li:last-child { margin-right: 0; }
	.five-freedom { margin: -5px; }
	.five-freedom li { min-width: 250px; margin: 10px; padding: 20px; text-align: left; flex-direction: inherit; flex: 1 1 165px; }
	.five-freedom .icon:before { width: 60px; height: 60px; margin-bottom: 0; margin-right: 15px; background-size: auto 60px; }
	.five-freedom .flaticon-1:before { background-position: 0 0; }
	.five-freedom .flaticon-2:before { background-position: -64px 0; }
	.five-freedom .flaticon-3:before { background-position: -128px 0; }
	.five-freedom .flaticon-4:before { background-position: -192px 0; }
	.five-freedom .flaticon-5:before { background-position: -257px 0; }
	.regist-tool li { padding: 15px 20px; }
	.chip-process { margin: -10px 0 -15px 0; }
	.chip-process li { width: calc(100% / 2 - 50px); margin: 25px 50px 25px 25px; margin-left: 0; }
	.chip-process li:after { right: -39px; }
	.chip-process li:nth-child(2):after { margin: -15px; top: auto; bottom: -23px; right: 50%; left: 50%; transform: rotate( 90deg ); }
	.chip-process li:nth-child(2), .chip-process li:last-child { margin-right: 0; }
	.chip-process li:nth-child(3) { margin: 25px 0 25px 50px; order: 2; }
	.chip-process li:nth-child(4) { order: 1; }
	.chip-process li:nth-child(3):after { right: 0; left: -39px; transform: rotate( 180deg ); }
    /*추가 이미지 반응형 수정한 부분입니다*/
    .resist-wrap .img{ width:calc(100% / 2); }
    .resist-wrap .img1{ background:url('../images/contents/register1.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 30px 0px 0px 0px; }
    .resist-wrap .img2{ background:url('../images/contents/register2.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px 30px 0px 0px; }
    .resist-wrap .img3{ background:url('../images/contents/register3.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px; }
    .resist-wrap .img4{ background:url('../images/contents/register4.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px; }
    .resist-wrap .img5{ background:url('../images/contents/register5.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px 0px 0px 30px;}
    .resist-wrap .img6{ background:url('../images/contents/register6.png') no-repeat; background-size:cover; background-position:center;  height:550px; border-radius: 0px 0px 30px 0px;}
	/*추가 이미지 반응형 수정한 부분입니다*/
    .regist-type li { padding: 35px 20px 25px 20px; }
	.education-view .head { padding: 20px 10px; }
    .education-view .head .subject { font-size: 1.5rem; }
    .education-view .head .info li { font-size: .875rem; }
    .education-view .head .info li:after { top: 1px; }
    .education-view .content { padding: 25px 10px; }
    .education-view .file { padding: 15px 10px; }
    .policy-index ul li { min-width: 100%; margin: 3px 0; }
    .vote-link { padding: 5rem 30px; }
    .vote-link:before { right: -100px; }
    .vote-link .fix-text .turn { font-size: 2rem; }
    .vote-link .fix-text .title { font-size: 3.5rem; }
    .vote-link .fix-text .title .color { font-size: 3.5rem; }
    .vote-link .fix-text .date { font-size: 1.75rem; }
    .sitemap > ul > li { width: calc(100% / 2 - 26px); }
    .sub-login, .animal-search { width: 100%; flex-direction: column; }
    .sub-login .visual, .animal-search .visual { width: 100%; padding: 30px 0; }
    .sub-login .visual:before { width: 300px; height: 171px; }
    .sub-login form, .animal-search form { width: 100%; padding: 40px 20px; }
    .animal-search .form-group.flex { flex-direction: column; }
    .animal-search .form-group.flex .form-control + .form-control { margin-top: 7px; margin-left: 0; }
    .animal-search .form-group.flex .w-md { width: 100% !important; }
    .total-search-area { margin: 15px 0; }
    .total-search-area form .form-wrap { height: auto; flex-wrap: wrap; }
    .total-search-area form .input-wrap input.form-control { width: 250px !important; }
    .total-search-area form .search-condition { width: 100%; margin-top: 15px; box-shadow: 10px 10px 18px rgba(0,0,0,.07); left: 0; }
    .total-search-area form .search-condition .tr .form-group { align-items: center; flex-wrap: wrap; }
    .total-search-area form .search-condition .tr .lable { margin-bottom: 5px; }
    .total-search-area form .search-condition .tr .form-control.w-sm { width: 100px !important; }
    .result-menu .container { padding: 0; }
    .result-menu ul li a { padding: 15px; }
    .result-frame { flex-direction: column; }
    .result-frame .left-area, .result-frame .right-area { width: 100%; }
    .result-frame .left-area .table-utility { flex-direction: column; }
    .result-frame .left-area .table-utility .right { margin: 10px auto 0 0; }
    .result-frame .left-area h4 { margin-top: 20px; }
    .result-frame .right-area { margin-top: 40px; }    
    .bus-category .btn-group .btn { width: calc(100% / 4); }
    .farm-process { margin: -10px 0 -15px 0; }
    .farm-process li { width: calc(100% / 2 - 50px); margin: 25px 50px 25px 25px; margin-left: 0; }
    .farm-process li:after { right: -39px; }
    .farm-process li:nth-child(2):after { margin: -15px; top: auto; bottom: -23px; right: 50%; left: 50%; transform: rotate( 90deg ); }    
    .farm-process li:nth-child(2), .farm-process li:nth-child(4), .farm-process li:last-child { margin-right: 0; }
    .farm-process li:nth-child(3) { margin: 25px 0 25px 50px; }
    .farm-process li:nth-child(3):after { right: 0; left: -39px; transform: rotate( 180deg ); }
    .farm-process li:nth-child(4):after { margin: -15px; top: auto; bottom: -23px; right: 20%; left: 80%; transform: rotate( 60deg ) }
    .farm-process li:nth-child(5):after { margin: -15px; top: auto; bottom: -23px; right: 50%; left: 50%; transform: rotate( 90deg ); }
    .farm-process li:nth-child(1) { order: 1; }
    .farm-process li:nth-child(2) { order: 2; }
    .farm-process li:nth-child(3) { order: 4; }
    .farm-process li:nth-child(4) { order: 3; }
    .farm-process li:nth-child(5) { order: 5; }
    .farm-sign { flex-direction: column; }
    .farm-sign .img { margin-bottom: 20px; margin-right: 0; }    
}

@media screen and (max-width:768px) {
	.login .login-bg .logo { margin-bottom: 25px; }
    .login .login-bg .page-tit { font-size: 1.75rem; }
    .login .login-bg { height: 300px; overflow: hidden; }
    .login .login-bg > .container { height: 200px; }
    .login .login-bg > .container:before { width: 130px; height: 168px; top: 50px; }
    .login.color-1 .login-bg > .container:after { width: 120px; height: 93px; top: 130px; right: 20px; }
    .login.color-2 .login-bg > .container:after { width: 120px; height: 86px; top: 130px; right: 20px; }
    .login > .container { height: calc(100vh - 200px); top: 200px; }    
    .login .contents .means { padding: 35px 20px; }
    .login .contents .means:first-child { padding-top: 0; }
    .login .contents .means:last-child { padding-bottom: 0; }
    .login .contents .means .tit { font-size: 1.5rem; }
    .login .contents .means .form-control { font-size: 1.125rem; }
    .login .contents .forgot-pw { padding: 0 20px; }
    .step-bar { margin-bottom: 40px; }
    .step-bar ul { margin: -8px 0; }
    .step-bar ul li { width: 33%; padding: 8px 0; }
    .step-bar ul li:nth-child(4n+4):after { background-color: transparent !important; }
    .step-bar ul li:after { top: 30px; }
    .member-type { flex-direction: column; }
    .member-type li { width: 100%; }
    .member-type li + li { margin-top: 30px; margin-left: 0; }
    .member-type li .box { width: 100%; padding: 30px 20px; }
    .certifi-type { padding: 30px 20px; }

    .sub-contents h4:before { top: 0; }
    .sub-contents .para + * { margin-top: 30px; }
    .quotation span { font-size: 1.25rem; }
	.headline .copy { width: calc(100%); padding: 25px 20px; }
	.headline.titonly { margin-bottom: -80px; }
	.quotation span:before, .quotation span:after { display: none; }
	.punishment li strong { font-size: 1rem; }
	.certifi-process li { width: calc(100%); min-width: auto; margin-right: 0; margin-bottom: 50px; }
	.certifi-process li:after { margin: 0 -15px; top: auto; left: 50%; right: 50%; bottom: -40px; transform: rotate( 90deg ); }
	.certifi-process li:last-child { margin-bottom: 15px; }
	.microchip { flex-direction: column; }
	.microchip:before { margin-bottom: 15px; margin-right: 0; }
	.regist-tool { flex-direction: column; }
	.regist-tool li + li { margin-top: 20px; margin-left: 0; }
	.chip-process li { width: calc(100%); margin: 25px; }
	.chip-process li:after, .chip-process li:nth-child(3):after { top: auto; right: auto; left: auto; bottom: -23px; transform: rotate( 90deg ); }
	.chip-process li:nth-child(2), .chip-process li:last-child { margin-right: 25px; }
	.chip-process li:nth-child(3) { margin: 25px; order: 1; }
	.chip-process li:nth-child(4) { order: 2; }
	.chip-process li strong br { display: none; }

    /*동물등록소개 이미지 추가 - 반응형 작업한 부분입니다*/
    .resist-wrap .img{ width:calc(100% / 1); margin-bottom:20px; }
    .resist-wrap .img1{ background:url('../images/contents/register1.png') no-repeat; background-size:cover;  height:600px; border-radius: 30px; }
    .resist-wrap .img2{ background:url('../images/contents/register2.png') no-repeat; background-size:cover; background-position:center;  height:600px; border-radius: 30px; }
    .resist-wrap .img3{ background:url('../images/contents/register3.png') no-repeat; background-size:cover; background-position:center;  height:600px; border-radius: 30px; }
    .resist-wrap .img4{ background:url('../images/contents/register4.png') no-repeat; background-size:cover; background-position:center;  height:600px; border-radius: 30px; }
    .resist-wrap .img5{ background:url('../images/contents/register5.png') no-repeat; background-size:cover; background-position:center;  height:600px; border-radius: 30px;}
    .resist-wrap .img6{ background:url('../images/contents/register6.png') no-repeat; background-size:cover; background-position:center;  height:600px; border-radius: 30px;}

	.regist-type li { width: calc(100%); }
	.animals-ment { flex-direction: column; }
	.animals-ment:before { min-width: 150px; height: 116px; margin-right: 0; margin-bottom: 20px; }
	.animals-ment .balloon { padding: 20px; line-height: 1.6; }
	.animals-ment .balloon:before { margin-top: 0; margin-left: -20px; top: -30px; left: 50%; right: 50%; transform: rotate( 90deg ); }
	.animals-ment .balloon strong { font-size: 1.125rem; }
	.map-service .header { display: flex; }
	.map-service .side-panel { width: 100%; border-radius: 0; top: 0; bottom: 0; transform: translateX(0px); }
	.map-service .side-panel.show { transform: translateX(-100%); }
	.map-service .side-panel .btn-fold { display: none; }
	.map-service .side-panel .btn-close { display: block; }
	.map-service .side-panel .head { justify-content: flex-start; }
	.vote-link { padding: 4rem 20px; }
    .vote-link:before { display: none; }
    .vote-link .fix-text { text-align: center; }
    .vote-link .fix-text .title { font-size: 3rem }
    .vote-link .fix-text .title .color { font-size: 3rem; }
    .vote-link .fix-text .date { font-size: 1.25rem; }
    .sitemap > ul > li { width: calc(100% - 26px); }
    .animals-detail .thum-list.piece-4 > li { width: calc(100% / 2 - 26px); }
    .result-menu ul li { width: calc(100% / 2); }
    .result-menu ul li a { width: 100%; }    
    .total-search-area form .form-group.flex .custom-control { margin-right: 15px; margin-bottom: 5px; }
    .total-search-area form .form-group.flex .custom-control + .custom-control { margin-left: 0; }
    .total-search-area form .search-condition .tr .btn { margin-right: 5px; margin-bottom: 5px; }
    .total-search-area form .search-condition .tr .btn + .btn { margin-left: 0; }
    .total-search-area form .search-condition .line-break { width: 100%; margin-top: 7px; }
    .total-search-area form .input-wrap { width: 100%; margin-bottom: 10px; flex-wrap: wrap; }
    .total-search-area form .input-wrap .form-control { width: 100% !important; }
    .total-search-area form .input-wrap input.form-control { padding-right: 49px; }
    .total-search-area form .input-wrap .btn-submit { width: 49px; height: 49px; position: absolute; bottom: 0; right: 0; }
    .total-search-area form .form-wrap .btn-detail-search { margin-left: 0; }
    .total-search-area form .form-wrap .btn-detail-search { padding: 10px 20px !important; }
    .bus-category .btn-group .btn { width: calc(100% / 2); }
    .farm-sign .img img { width: 100%; }   
    .farm-mark img { max-width: 100%; }
}