@charset "UTF-8";

#container {
	width:100%;
	margin:0 auto;
	text-align:center;
	border:0px solid #bcbcbc;
}

#header {
	padding:10px;
	margin-bottom:5px;
	border:0px solid #bcbcbc;
	background-color:white;
}

#header li {
	padding-top: 10px;
}

#sidebar-left {
    width: 250px; /* 사이드바 너비 */
    height: 100vh; /* 화면 전체 높이 */
    position: fixed; /* 스크롤해도 고정 */
    top: 0;
    left: 0;
    background-color: yellow;
    border-right: 1px solid #bcbcbc; /* 우측 경계선 */
    padding: 10px;
    font-size: 14px;
    overflow-y: auto; /* 내용 많으면 스크롤 가능 */
}

#content {
    width: calc(100% - 250px); /* 사이드바 제외한 너비 */
    margin-left: 250px; /* 사이드바만큼 왼쪽 여백 */
    padding: 10px;
    border: 0px solid #bcbcbc;
}

#footer {
	clear:both;
	padding:5px;
	border:0px solid #bcbcbc;
	background-color:black;
	width: 100%;
}
