@charset "utf-8";

#top_nav_wrap{position:absolute;width:100%;padding:0 5.5%;display:flex;align-items:center;
gap:358px;height:100px;z-index:200; 
background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)); /* ← 요 포인트 */
}

/* 대분류  */
#top_nav{display:flex;align-items:center;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
#top_nav > li{position:relative}
#top_nav > li > a{display:block;padding:0 48px;letter-spacing:0;font-size:17px;font-weight:500;font-family:var(--k-font);line-height:100px;color:#fff;transition:all .2s}

/* 소분류 */
#top_nav > li > ul{display:none;position:absolute;top:90px;left:50%;transform:translateX(-50%);z-index:1002;min-width:150px;width:auto;padding:15px 10px 15px;background-color:#000;text-align:center;border-radius:5px}
#top_nav > li > ul > li{padding:5px 0;font-family:var(--k-font)}
#top_nav > li > ul > li a{font-size:15px;color:#ddd;transition:all .2s}
#top_nav > li > ul > li a:hover{color:#fff}

/* 로그인/로그아웃 메뉴 */
.top-links-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
     justify-content: flex-end; /* ✅ 여기서 정렬 */
     margin-left:0px;
}

.top-links li {
    margin-left: 20px;
}

.top-links a {
    color: white;
    text-decoration: none;
     justify-content: flex-end; /* 오른쪽 정렬 */
     
}

.top-links .nav-link {
    font-size: 16px;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 500;
    transition: 0.3s;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.top-links .nav-link:hover {
    color: #ccc;
}

/* 로그인 후 상태 */
.top-links .nav-link.login {
    font-weight: 600;
}

/* 로그인/로그아웃 처리 */
.top-links .login a {
    color: #fff;
}
