@charset "utf-8";

#top_nav_wrap{position:absolute;width:100%;padding:0 5.5%;display:flex;align-items:center;gap:358px;height:100px;z-index:200}

/* 대분류  */
#top_nav{display:flex;align-items:center;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
#top_nav > li{position:relative}
#top_nav > li > a{display:block;padding:0 48px;letter-spacing:0;font-size:17px;font-weight:500;font-family:var(--k-font);line-height:100px;color:#fff;transition:all .2s}

/* 소분류 */
#top_nav > li > ul{display:none;position:absolute;top:90px;left:50%;transform:translateX(-50%);z-index:1002;min-width:150px;width:auto;padding:15px 10px 15px;background-color:#000;text-align:center;border-radius:5px}
#top_nav > li > ul > li{padding:5px 0;font-family:var(--k-font)}
#top_nav > li > ul > li a{font-size:15px;color:#ddd;transition:all .2s}
#top_nav > li > ul > li a:hover{color:#fff}

/* 문의하기 */
#top_nav_wrap .contact{margin-left:auto}
#top_nav_wrap .contact ul{display:flex;gap:10px}
#top_nav_wrap .contact li a{display:flex;align-items:center;justify-content:center;width:46px;height:46px;background:#Fff;border-radius:50px;transition:all 0.2s}
#top_nav_wrap .contact li:nth-child(2) a{background:#111}
#top_nav_wrap .contact li:nth-child(2) a svg{color:#Fff}
#top_nav_wrap .contact li a svg{width:16px}